# Copy these lines into ~/.gradle/gradle.properties (DO NOT COMMIT SECRETS)
# Then set the paths and passwords to your upload keystore.
# Store file path can be absolute or relative to android/app

MYAPP_UPLOAD_STORE_FILE=
MYAPP_UPLOAD_KEY_ALIAS=
MYAPP_UPLOAD_STORE_PASSWORD=
MYAPP_UPLOAD_KEY_PASSWORD=
